<footer class="footer bg-white">
	<div class="footer-social">
		<div class="footer-container clearfix">
			<div class="social-list">
    <a class="social twitter" target="blank" href="http://twitter.com/natashating" title="Visit My Twitter" data-hover="Twitter">Twitter</a>
     <a class="social rss" target="blank" href="/feed.xml"title="get RSS" data-hover="RSS">RSS</a>
	</div>
		</div>
	</div>
	<div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="/" class="info-logo">
                         <img src="{{ site.url }}/style/images/logo-scream.png"   title="Visit Blog" data-hover="Blog" alt="Blog" /> </a>
                    <div class="info-text">
                        <p>&copy; 2024 <a href="{{ site.url }}/about" target="_blank">Natasha Ting</a>.</p>
                        <p>Total：{{paginator.total_posts}} posts. <a href="/archive"  title="Browse Archive" data-hover="Browse Archive">Browse Archive</a></p>
                        <p><a href="/feed.xml"  title="Subscribe with RSS" data-hover="Subscribe with RSS">Subscribe with RSS</a></p>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">Pinned</h3>
     <!--置顶-->
    {% for post in site.posts limit:15 %}
      {% if post.istop %}
      <li><a href="{{ post.url }}" title="Visit {{ post.title }}" data-hover="{{ post.title }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
        <!--置顶-->
            </div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">Latest</h3>
  {% for post in site.posts limit:14 %}        
      {% if post.book %}
 <li><a href="{{ post.url }}" title="Visit {{ post.title }}" data-hover="{{ post.title }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
</div>
		</div>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script src="/search/js/cb-search.js"></script>
<script>
$(function () {
    setTimeout(function () {
      $('code').removeClass('hljs');
      $('code').removeClass('language');
    }, 90);
});
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
