---
layout: default
title: Blog
permalink: /blog/
pagination:
  enabled: true
---

<div class="main-content index-page clearfix ">
    Rants on economics and learning:
	<div class="post-lists">
		<div class="post-lists-body">
      {% for posts in paginator.posts %}
		<div class="post-list-item">
				<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}');"></div>
          	<a href="{{ posts.url }}">
	             <div class="item-desc">
		<p>{{ posts.content | strip_html | strip_newlines | truncate: 100 }}</p>
						</div>
					</a>
					<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
					<div class="item-slant">	<div class="liberxue-title">
				</div></div>
					<div class="item-label">
						<div class="item-title"><a href="{{ posts.url }}" title="Visit {{ posts.title }}">{{ posts.title | truncate: 60 }}</a></div>
						<div class="item-meta clearfix">
						<div class="item-meta-ico bg-ico-book" style="background: url('/style/images/bg-ico.png') no-repeat;background-size: 28px auto;"></div>
             <div class="item-meta-cat">
				 <a href="/tags#{{ posts.category }}" title="Visit {{ posts.category }}" data-hover="{{ posts.category }}">{{ posts.category | truncate: 13 }}</a>
				 <a href="/archives#{{ posts.date | date: "%Y"}}" title="visit {{ posts.date | date: "%Y"}}" data-hover="{{ posts.date | date: "%F %H:%M"}}">{{ posts.date | date: "%F"}}</a></div>
						</div>
					</div>
				</div>
      </div>
       {% endfor %}
	</div>
	</div>
</div>

{% if paginator.total_pages > 1 %}
<div class="lists-navigator clearfix">
  <ol class="page-navigator">
    <li class="current">
      <a href="/blog/" data-hover="Blog Home"><span>Blog Home</span></a>
    </li>
    <li class="current">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}"><span>&laquo;</span></a>
      {% else %}
      <span>&laquo;</span>
      {% endif %}
    </li>
    {% for page_number in (1..paginator.total_pages) %}
    <li{% if page_number == paginator.page %} class="current"{% endif %}>
      {% if page_number == 1 %}
      <a href="/blog/" data-hover="{{ page_number }}">{{ page_number }}</a>
      {% else %}
      <a href="/blog/page{{ page_number }}/" data-hover="{{ page_number }}">{{ page_number }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <li class="current">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}"><span>&raquo;</span></a>
      {% else %}
      <span>&raquo;</span>
      {% endif %}
    </li>
    <li class="current">
      <span>Page {{ paginator.page }} / {{ paginator.total_pages }}</span>
    </li>
  </ol>
</div>
{% endif %}
